.plan-container
  .plan-header
    .icon-box
      i.fa.fa-users.icon
    h2 Smallest Company
    p $0.01/month
  .plan-details
    ul
      li Unlimited 
        span Awesomeness
      li Unlimited 
        span Coolness
      li Unlimited 
        span Cuteness
      li Unlimited 
        span Freebies
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec pellentesque ex. Morbi metus ante, congue non suscipit a, accumsan eget odio. Mauris consectetur blandit ante convallis ornare. 
    
    button Start Your Free Trial for 25 Years 
      i.fa.fa-arrow-right
    